
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Scheme
$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #ff3b3f;
$neutral: #efefef;

$golden: #f9be02;
$aquamarine: #02c8a7;
$sky2: #7cdbd5;

$evening: #192231;
$stormy: #494e6b;
$cloud: #98878f;
$sunset: #985e6d;

$white: #fff;

